.custom-card-body {
    overflow-y: auto;
}

.custom-input {
    width: 100%;
}

.main-container {
    background-image: url('src/assets/images/blockchainimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.justify-text {
    text-align: justify;
}

.container {
    overflow-y: auto;
}

.custom-card {
    max-width: 900px;
    width: 200%;
    margin: auto;
}

.me-2 {
    font-size: 25px;
    /* Réglez la taille de la police selon vos préférences */
}