<ul class="nav nav-pills w-100 my-2 flex align-items-center">
    <li class="nav-item ">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="Logo" width="70" height="70" class="d-inline-block align-top">
        </a>
    </li>
    <li class="nav-item ms-3">
        <a class="nav-link active bg-success" aria-current="page" href="#">à propos de nous</a>
    </li>
    <li class="nav-item ms-3">
        <a class="nav-link text-white" href="#">Services</a>
    </li>
    <li class="nav-item ms-3">
        <a class="nav-link text-white" href="#">Contact</a>
    </li>
    <li class="nav-item ms-auto">
        <form class="d-flex me-3">

            <div class="input-group">

                <input class="form-control" type="search" placeholder="Rechercher" list="suggestions" id="searchInput">
                <datalist id="suggestions">
                    <!-- Ajoutez ici vos suggestions de recherche -->
                    <option value="Services">
                    <option value="Contact">
                    <option value="à propos de nous">
                </datalist>
            </div>
        </form>
    </li>
</ul>