<div class="main-container">
    <div>
        <app-navbar></app-navbar>
    </div>
    <div></div>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row d-flex align-items-stretch justify-content-center">
            <!-- Card pour demander un prêt -->
            <div class="col-md-5 mb-4">
                <div class="card text-white bg-dark custom-card">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <h3 class="card-title ms-2 mt-3">Demander un prêt</h3>
                        <p class="mt-3 justified-text">Bank Finance vous offre la possibilité de réaliser vos projets grâce à nos solutions de prêt flexibles et avantageuses. Demandez dès maintenant votre prêt et concrétisez vos ambitions financières avec nous.</p>
                        <button class="btn bg-success text-white mt-auto">Demander un prêt</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <!-- Card pour prêter -->
            <div class="col-md-5 mb-4">
                <div class="card text-white bg-dark custom-card">
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <h3 class="card-title ms-2 mt-3">Prêter</h3>
                        <p class="mt-3 justified-text">Contribuez au succès des projets et des rêves en prêtant votre soutien financier. Avec Bank Finance, vous pouvez investir dans l'avenir et obtenir des rendements attrayants tout en aidant d'autres à réaliser leurs objectifs.</p>
                        <button class="btn bg-success text-white mt-auto">Prêter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer  ms-0 me-auto">
        <app-footer></app-footer>
    </div>
</div>